.mainDiv {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  order: 1;
  height: 100vh;
}

.navbar-brand {
  width: 50;
  height: 50px;
}

.Title {
  margin-top: 13rem;
  text-align: center;
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.a {
  color: #fff;
}

.aa {
  color: rgb(255, 136, 0);
}

/* Featurs */

/* Button */

.buttonDiv {
  padding-left: 30%;
  padding-top: 10%;
}

.fill {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.fill::after {
  content: "";
  background-color: #ae00ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

#pattern {
  position: fixed;
}

